body {
  font-family: monospace;
  background-color: #e4ecf4;
}
.container {
  width: 100%;
  margin: auto;
  text-align: center;
}
.header {
  background-color: #a1bdd9;
  color: #fff;
  height: 60px;
  margin-top: 0;
}
.title {
  color: #4a7eb5;
  font-size: 45px;
  font-family: sans-serif;
}
.logoku {
  float: left;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.form {
  width: 100%;
  margin: 0 auto;
}
li {
  display: none;  
}
